.button {
    border: none;
    color: greenyellow;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.used{
    color: green;
    border-color: green;
}
