.button {
    background-color: #e8e4d8;
    border: none;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Brush Script MT', cursive;
  }


.X{

    background-color: white; 
    color: black; 
    border: 2px solid red;
    padding: 30px 33px;
}

.O{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 30px 33px;
  }

